= render "shared/header"
.mypage-main-box
  = render "mypage-sidebar"
  .mypage-main-box__main-contents
    .mypage-main-box__main-contents__wrapper
      = render "mypage-menu"
      .mypage-main-box__main-contents__wrapper__right-box
        .mypage-main-box__main-contents__wrapper__right-box__content
          .mypage-main-box__main-contents__wrapper__right-box__content__title
            My Works