.top-menu
  .top-menu__mask
    .top-menu__mask__question
      Which do you prefer?
    .top-menu__mask__item-list
      = link_to new_project_path, class: "none-decoration-link" do
        .top-menu__mask__item-list__item
          %span New Project
      = link_to projects_path, class: "none-decoration-link" do
        .top-menu__mask__item-list__item
          %span Search Project
      = link_to "", class: "none-decoration-link" do
        .top-menu__mask__item-list__item
          %span Search More Knowledge